<form
    id="create-task-form"
    class="create-new-task-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    >
    <p-card class="create-task-card-wrapper">
        <!-- <ng-template #header>
        </ng-template>

        <ng-template #title> I'M A TITLE </ng-template>
        <ng-template #subtitle> I'M A SUBTITLE </ng-template> -->

        <ng-template #content>
                <input
                    type="text"
                    name="task-title"
                    placeholder="Add a task …"
                    formControlName="title"
                />
                <textarea
                    rows="8"
                    cols="30"
                    pTextarea
                    [autoResize]="false"
                    placeholder="Enter notes for this task ..."
                    formControlName="notes"
                ></textarea>
            <div class="meta-container"></div>
        </ng-template>

        <ng-template #footer>
            <!-- "Projects" dropdown -->
            <p-treeselect
                class="assign-to-project-dropdown"
                [options]="projectOptions()"
                placeholder="Select a Project"
                formControlName="projectId"
                [showClear]="true"
                (onNodeSelect)="onProjectSelect($event)"
            />

            <!-- 'Cancel' + ' Add Task' Action Buttons -->
            <div class="action-buttons-container">
                <button
                    pButton
                    type="button"
                    (click)="onCancelCreateTask()"
                    >

                    <i class="pi pi-times" pButtonIcon></i>
                    <span pButtonLabel>Cancel</span>
                </button>

                <button
                    pButton
                    type="submit"
                    [disabled]="disabled() || form.invalid"
                    >

                    <i class="pi pi-plus" pButtonIcon></i>
                    <span pButtonLabel>Add Task</span>
                </button>
            </div>
        </ng-template>
    </p-card>
</form>
