<form
    id="create-task-form"
    class="create-new-task-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    >
    <div class="task-content">
        <input
            type="text"
            name="task-title"
            placeholder="Add a task …"
            formControlName="title"
        />

        <textarea
            rows="2"
            cols="30"
            pTextarea
            [autoResize]="false"
            placeholder="Enter a description for this task ..."
            formControlName="description"
        ></textarea>
    </div>

    <footer class="task-actions">
        <p-treeselect
            class="assign-to-project-dropdown"
            [options]="projectOptions()"
            placeholder="Select a Project"
            formControlName="project"
            [showClear]="true"
        />

        <div class="action-buttons-container">
            <button
                pButton
                type="button"
                (click)="onCancelCreateTask()"
            >
                <i class="pi pi-times" pButtonIcon></i>
                <span pButtonLabel>Cancel</span>
            </button>

            <button
                pButton
                type="submit"
                [disabled]="form.invalid"
            >
                <i class="pi pi-plus" pButtonIcon></i>
                <span pButtonLabel>Add Task</span>
            </button>
        </div>
    </footer>
</form>
