<li class="row">
    <div class="left">
        <input
            class="check"
            type="checkbox"
            [checked]="task.is_done"
            (change)="toggleDone.emit(task)"
            [disabled]="disabled"
            aria-label="Mark task done"
        />

        @if (!editing()) {
            <button
                type="button"
                class="titleBtn"
                [class.done]="task.is_done"
                (click)="startEdit()"
                [disabled]="disabled"
            >
                {{ task.title }}
            </button>
        } @else {
            <form class="edit" (submit)="onSubmit($event)">
                <input
                    type="text"
                    [value]="draftTitle()"
                    (input)="onDraftInput($event)"
                    [disabled]="disabled"
                    autofocus
                />
                <button type="submit" [disabled]="disabled">Save</button>
                <button type="button" (click)="cancelEdit()" [disabled]="disabled">Cancel</button>
            </form>
        }
    </div>

    <button type="button" (click)="remove.emit(task.id)" [disabled]="disabled">Delete</button>
</li>
