:host {
    display: block;
    height: 100dvh;

    div.app-shell {
        height: 100%;
        display: grid;
        grid-template-rows: auto minmax(0, 1fr);
    }

    div.app-body {
        min-height: 0;

        display: grid;
        grid-template-columns:
            var(--app-sidebar-width)
            minmax(0, 1fr);

        aside.app-sidebar {
            min-width: 0;
            overflow-y: auto;
        }

        main.app-main {
            min-width: 0;
            min-height: 0;
            overflow: auto;

            padding: var(--space-4);
        }
    }
}
