<!-- App Decomp:
    - (Left) App's Name (currently a simple div + span)
        > ToDo:
            [] Make this a component
            [] Make it stand out as a hero, etc.
    - (Center) Navigation (currently a simple nav with links)
        > ToDo:
            [] Make this a component
            [] Add dropdowns, etc.
    - (Right) User Info (currently just their name + "log out" button)
        > ToDo:
            [] Make this a component
            [] Add user avatar, "Settings" etc.

-->
<div class="app-shell">
    <!-- App Header -->
    <app-top-bar
        [userEmail]="userEmail()"
        (signOut)="signOut()"
    />

    <div class="app-body">
        <!-- App Sidebar -->
        <aside class="app-sidebar">
            <app-sidebar
                [projects]="projectsStore.projectTree()"
                (createProject)="openCreateProjectDialog()"
            />
        </aside>

        <!-- App Main Content -->
        <main class="app-main">
            <router-outlet />
        </main>
    </div>

</div>

<p-dialog
    header="Create Project"
    [modal]="true"
    [visible]="createProjectDialogVisible()"
    (visibleChange)="createProjectDialogVisible.set($event)"
    [draggable]="false"
    [resizable]="false"
    [style]="{ width: '28rem', maxWidth: '90vw' }"
>
    @if (createProjectDialogVisible()) {
        <app-project-editor
            [projects]="projectsStore.projectTree()"
            (create)="onCreateProject($event)"
            (cancel)="closeCreateProjectDialog()"
        />
    }

    <!-- <ng-template #footer>
        <button
            type="button"
            (click)="closeCreateProjectDialog()"
        >
            Cancel
        </button>
    </ng-template> -->
</p-dialog>
