:host {
    display: block;
    height: 100dvh;

    div.app-shell {
        height: 100%;
        display: grid;
        grid-template-rows: auto minmax(0, 1fr);
    }

    div.app-body {
        min-height: 0;

        display: grid;
        // grid-template-columns:
        //     var(--app-sidebar-width)
        //     minmax(0, 1fr);

        aside.app-sidebar {
            min-width: 0;
            overflow-y: auto;
        }

        div.sidebar-resize-handle {
            width: 6px;
            height: 100%;

            cursor: col-resize;
            touch-action: none;
            user-select: none;

            background: transparent;
            border-left: 1px solid var(--border-subtle);

            transition: background-color 120ms ease;

            &:hover,
            &.is-resizing {
                background: var(--p-primary-color);
                // TODO: make this look nicer
                width: 8px;
                box-shadow: 2px 0px 5px var(--text-muted);
            }

            &:focus-visible {
                outline: 2px solid var(--p-primary-color);
                outline-offset: -2px;
            }
        }

        main.app-main {
            min-width: 0;
            min-height: 0;
            overflow: auto;

            padding: var(--space-4);
        }
    }

    .project-delete-actions {
        display: flex;
        justify-content: flex-end;
        gap: var(--space-2);
        margin-top: var(--space-4);
    }

    .project-delete-error {
        color: var(--p-red-600);
    }
}
