<!-- App Decomp:
    - (Left) App's Name (currently a simple div + span)
        > ToDo:
            [] Make this a component
            [] Make it stand out as a hero, etc.
    - (Center) Navigation (currently a simple nav with links)
        > ToDo:
            [] Make this a component
            [] Add dropdowns, etc.
    - (Right) User Info (currently just their name + "log out" button)
        > ToDo:
            [] Make this a component
            [] Add user avatar, "Settings" etc.

-->
<div class="app-shell">
    <!-- App Header -->
    <app-top-bar
        [userEmail]="userEmail()"
        (signOut)="signOut()"
    />

    <div class="app-body">
        <!-- App Sidebar -->
        <aside class="app-sidebar">
            <app-sidebar
                [projects]="projectsStore.projectTree()"
            />
        </aside>

        <!-- App Main Content -->
        <main class="app-main">
            <router-outlet />
        </main>
    </div>

</div>
