:host ::ng-deep {
    section.wrap {
        max-width: 720px;
        margin: 2rem auto;
        padding: 1rem;
        display: grid;
        gap: 1rem;

        header.top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        ul.list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            gap: 0.5rem;
        }
    }
}

