<section class="wrap">
    <!-- App Header -->
    <!-- TODO: MOVE THIS to a seperate component and inject into parent -->
    <app-tasks-header
        title="Tasks"
        [realtimeOn]="tasksStore.realtimeConnected()"
        [errorText]="tasksStore.error()"
        [disabled]="tasksStore.mutating()"
        (signOut)="signOut()"
    />

        <!-- [projects]="projectsStore.projects()" -->
    <app-task-create
        [disabled]="tasksStore.mutating()"
        [projects]="projectsStore.projectTree()"
        (create)="createTask($event)"
    />

    @if (tasksStore.loading()) {
        <p>Loading…</p>
    } @else {
        <ul class="list">
            @for (t of tasksStore.tasks(); track t.id) {
                <app-task-row
                    [task]="t"
                    [disabled]="tasksStore.mutating()"
                    (toggleDone)="tasksStore.toggleDone($event)"
                    (remove)="tasksStore.remove($event)"
                    (rename)="tasksStore.updateTitle($event.task, $event.title)"
                    (editNotes)="tasksStore.updateNotes($event.task, $event.notes)"
                />
            }
        </ul>
    }
</section>
