<section class="tasks-page">
    <!-- App Header -->
    <!-- TODO: MOVE THIS to a seperate component and inject into parent -->
    <app-tasks-header
        title="Tasks"
        [realtimeOn]="tasksStore.realtimeConnected()"
        [errorText]="tasksStore.error()"
        [disabled]="tasksStore.mutating()"
        (signOut)="signOut()"
    />

    <!--
            [disabled]="tasksStore.mutating()"
            [projects]="projectsStore.projects()"
        -->
    <app-task-create [projects]="projectsStore.projectTree()" (create)="createTask($event)" />

    @if (tasksStore.loading()) {
        <p>Loading…</p>
    } @else {
        <ul class="list">
            <!-- @for (task of tasksStore.tasks(); track task.id) { -->
            @for (task of visibleTasks(); track  task.id) {
                <app-task-row
                    [task]="task"
                    [project]="projectsStore.getProject(task.project_id)"
                    [projects]="projectsStore.projectTree()"
                    [disabled]="tasksStore.mutating()"

                    (projectChange)="tasksStore.updateProject($event.task, $event.projectId)"

                    (toggleDone)="tasksStore.toggleDone($event)"
                    (remove)="tasksStore.remove($event)"
                    (rename)="tasksStore.updateTitle($event.task, $event.title)"
                    (editDescription)="tasksStore.updateDescription($event.task, $event.description)"
                />
            }
        </ul>
    }
</section>
